<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="initObject"
       default-lazy-init="true"
>
    <!--default-lazy-init="true" обозначает ленивую инициализацию для всех бинов, пока не вызовешь, загружаться не будут-->

    <import resource="t1000_context.xml"/>


    <!--через бин пост процессор можно тоже выполнять дейстрие перед инициализацией бина и после-->
    <bean class="com.github.alexgitstudy.project.robot.main.MyBeanPostProcessor"/>
</beans>